body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    padding-top: 150px; 
}

.orange {
    background-color: rgb(252, 130, 0);
    width: 100%;
    height: 130px;
    padding: 10px;
}


.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

img {
    height: 100px;
    width: 100px;

}

.some {
    display: inline-block;
    margin-bottom: -17px;
    margin-left: 10px;
}

.search {
    position: relative;
    height: 25%;
    width: 56%;
    margin-left: 98px;
    margin-top: 50px;
    text-align: center;
}

.search2{
    position: relative;
    height: 26%;
    width: 2.5%;
    margin-left: 77%;
    margin-top: -11px;
    top: -39px;
    text-align: center;
}

.webgo {
    position: relative;
    display: inline-block;
    left: 20px;
    bottom: -1px;
}

.main-1 {   
   width: 215px;
    padding: 10px;
    border: solid orange 2px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    position: relative;
    top: 110px;
    left: 73px;
    margin-left: 20px;
}

.main-1:hover {
    border: solid orange 4px;
    transform: scale(1.05);
    transition: 1s;
}

.main-2 {
    width: 215px;
    padding: 10px;
    border: solid orange 2px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    position: relative;
    top: 110px;
    left: 73px;
    margin-left: 20px;
}

.main-2:hover {
    border: solid orange 4px;
    transform: scale(1.05);
    transition: 1s;
}

.main-3 {
    width: 215px;
    padding: 10px;
    border: solid orange 2px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    position: relative;
    top: 110px;
    left: 73px;
    margin-left: 20px;
}

.main-3:hover {
    border: solid orange 4px;
    transform: scale(1.05);
    transition: 1s;
}

.main-4 {
    width: 215px;
    padding: 10px;
    border: solid orange 2px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    position: relative;
    top: 110px;
    left: 73px;
    margin-left: 20px;
}

.main-4:hover {
    border: solid orange 4px;
    transform: scale(1.05);
    transition: 1s;
}
footer{
    background-color: rgb(252, 130, 0);
    width:105%;
    height: 10%;
    position: relative;
    top: 242px;
}
.one,.two,.three,.four{
    width:300px; 
    display: inline-block;
    margin-left: 41px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-1,.main-2,.main-3,.main-4{
    margin-bottom: 25px;
}
@media screen and (max-width: 400px) {
    .search {
        width: 60%;
        margin-left: 20%;
        margin-top: 40px;
    }

    .search2 {
        
        width: 9%;
        margin-left: 71%;
        top: -24px;
    
}
}
